<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS</title>
    <style>
        #result {
            border: 1px solid black;
            width: fit-content;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="sample" id="">
            <br>
            <button class="button" v-on:click="doAllGood()">make all good</button>
        </form>
        <div id="result" v-for="item in items">
            <ul>
                <li>{{ item }}</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                sample: '',
                test: "tested well",
                items: ["hello world", "hello"]
            },
            methods: {
                doAllGood: function() {
                    this.test = this.sample;
                    this.sample = '';
                }
            }
        })
    </script>
</body>

</html>